.project
.classpath
.settings
/.settings
.metadata
/.metadata
.recommenders
*.releaseBackup
release.properties
.idea
/.idea
*.iml
*.class
bin/
target
datasets/
output/
copyOctopus2Pi.sh
copyOctopus2Thor.sh
copyAkkaTutorial2Pi.sh
copyAkkaTutorial2Thor.sh
ddm-exercise/src/main/java/de/hpi/ddm/solution/*
ddm-lmp/src/main/java/de/hpi/ddm/solution/*
ddm-exam
/**/.factorypath
.DS_Store
